<div class="top">
    <p>3</p>
  </div>
  <h2 class="text-denuncia">Central de denúncias</h2>
  <form   class="corregedoria-form">
    <div class="container">
      <div class="row">
        <div class="form">
          <label class="text-label">Qual o motivo da sua denuncia?</label>
          <input id="motivo" class="input-denuncias" [(ngModel)]="motivo" name="motivo">
          <div id="erroMotivo" class="erro"></div>
      
        </div>
        <div class="form">
          <label class="text-label">Observação:(opcional)</label>
          <textarea class="input-denuncias-observ" [(ngModel)]="observacao" name="observacao"></textarea>

      
        </div>
      </div>
  
      <div class="row">
        <div class="form">
          <label class="text-label">Informe a data do ocorrido?</label>
          <input id="data" type="date" class="input-denuncias" [(ngModel)]="dataOcorrido" name="dataOcorrido">
          <div id="erroData" class="erro"></div>
        </div>
        <div class="form">
          <label class="text-label">Nos envie a sua prova em video!</label>
          <label class="custom-file-label">Enviar
          <input id="video" class="" type="file"   name="arquivo"  (change)="onFileSelected($event)">
        </label>
        <div id="erroVideo" class="erro"></div>
        </div>
      </div>
  
      <div class="row">
        <div class="form">
          <label class="text-label">Informe o passaporte, do denunciado!</label>
          <input id="passaporte" type="number" class="input-denuncias"[(ngModel)]="passaporte" name="passaporte">
          <div id="erroPassaporte" class="erro"></div>
     
         
        </div>

      </div>
      <img src="../../assets/pngwing.com.png" alt="Polícia">
    </div>
  
    <div class="btn-denuncia">
      <button (click)="enviarFormulario()" class="btn-enviar" type="submit">ENVIAR DENUNCIA</button>
    </div>
  </form>